.content {
    display: flex;

}
.pageleft {
    flex: 2;
}

.pageright {
    flex: 1;
}
.journalForm{
    display: flex;
    flex-direction: column;
   
} 
.inputWrapper label {
    display: block;

}

header {

}
.siteLogo {

}
.name {

}
.siteTitle {
    
}

 
#entryLog {

}
.journalDate {

}

.journalConcepts {

}
.journalEntry {

}
.journalMood {

}
.delete {

}
.edit {
    
}
